
.title-text {
    color: #FFF;
    text-shadow: 1px 2px black;
}

.desc-text {
    color: #BBB;
    text-shadow: 1px 2px black;
}

.page-background {
    background-image: url("../images/nocturnes.png");
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
}

.project-thumbnail {
    max-width:100%;
    border: 2px solid white;
    border-radius: 5px;
    background: white;
}