{% extends 'base.html' %}

{% block content %}
<body>
<div class="container">
    <h1 class="title-text mt-4">Admin Panel</h1>
    <form action="/projects" METHOD="POST" enctype="multipart/form-data">
        <input type="text" placeholder="Name" name="project-name">
        <br/>
        <input type="file" placeholder="Thumbnail" name="project-thumbnail" accept=".png, .jpg, .jpeg">
        <br/>
        <input type="text" placeholder="Description" name="project-description">
        <br/>
        <input type="date" placeholder="Date" name="project-date">
        <br/>
        <input type="submit" value="Add Project" class="btn btn-secondary">
    </form>

    {% for project in projects %}
    <div class="row p-2 my-4 border rounded border-light bg-dark" style="max-width:65%">
        <h1 class="title-text mt-2">{{ project.name }}</h1>
        <div class="desc-text">
            <img src="{{ project.thumbnail }}" class="mt-2 mb-3 p-2 border project-thumbnail" alt="Project Thumbnail">
            <p>Date Uploaded: {{ project.date }}</p>
            <p style="color:#FFF">{{ project.description }}</p>

        </div>
    </div>
    {% endfor %}

</div>
</body>
{% endblock %}