{% extends 'base.html' %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

<div>
    <div class="text-center" style="color: #FFF">
        <h1>Welcome to my portfolio website!</h1>
        <div style="color: #BBB">
            <p>My name is <i>(Alex)ander Lane [They/Them]</i>, and I'm a <strong>software developer.</strong></p>
            <p>Check out the other pages I made (navbar on the top)!</p>
        </div>
    </div>
</div>
</body>
{% endblock %}